# Intro to basics

## Arithmetic with R

In [1]:
# An addition
5 + 5 

# A subtraction
5 - 5 

# A multiplication
3 * 5

 # A division
(5 + 5) / 2 

# Exponentiation
2^5

# Modulo
28 %% 6

[1] 10

[1] 0

[1] 15

[1] 5

[1] 32

[1] 4

## Variable assignment

In [4]:
# Assign the value 42 to x
x <- 42
# Print out the value of the variable x
x

[1] 42

In [6]:
# Assign a value to the variables my_apples and my_oranges
my_apples <- 5
my_oranges <- 6

# Add these two variables together
my_apples + my_oranges

# Create the variable my_fruit
my_fruit = my_apples + my_oranges

[1] 11

## Basic data types in R


numerics, logical, characters   
`class()`: checking the data type of a variable.

In [7]:
# Declare variables of different types
my_numeric <- 42
my_character <- "universe"
my_logical <- FALSE 

# Check class of my_numeric
class(my_numeric)

# Check class of my_character
class(my_character)

# Check class of my_logical
class(my_logical)

[1] "numeric"

[1] "character"

[1] "logical"

# Vectors

## Create a vector

In [8]:
numeric_vector <- c(1, 10, 49)
character_vector <- c("a", "b", "c")
boolean_vector <-c(TRUE, FALSE, TRUE)

## Naming a vector

`name()`: give a name to the elements of a vector.

In [ ]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)

# The variable days_vector
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
 
# Assign the names of the day to roulette_vector and poker_vector
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

## Calculating

In [9]:
A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Take the sum of A_vector and B_vector
total_vector <- A_vector + B_vector
  
# Print out total_vector
total_vector

[1] 5 7 9

In [11]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Assign to total_daily how much you won/lost on each day
total_daily <- poker_vector + roulette_vector

total_daily

   Monday   Tuesday Wednesday  Thursday    Friday
      116      -100       120      -470       250

`sum()`: It calculates the sum of all elements of a vector.

In [12]:
# Total winnings with poker
total_poker <- sum(poker_vector)

# Total winnings with roulette
total_roulette <-  sum(roulette_vector)

# Total winnings overall
total_week <- total_poker +total_roulette

# Print out total_week
total_week

[1] -84

## Comparing

In [14]:
# Check if you realized higher total gains in poker than in roulette 
total_poker > total_roulette

[1] TRUE

## Vector selection

### selection by index

In [16]:
poker_wednesday <- poker_vector[3]
poker_wednesday

Wednesday
       20

In [18]:
# Assign the poker results of Tuesday, Wednesday and Thursday 
poker_midweek <- poker_vector[c(2, 3, 4)]
poker_midweek

  Tuesday Wednesday  Thursday
      -50        20      -120

In [19]:
roulette_selection_vector <- roulette_vector[2:5]
roulette_selection_vector

  Tuesday Wednesday  Thursday    Friday
      -50       100      -350        10

### selection by names

In [20]:
# Select poker results for Monday, Tuesday and Wednesday
poker_start <- poker_vector[c("Monday", "Tuesday", "Wednesday")]
  
# Calculate the average of the elements in poker_start
mean(poker_start)

[1] 36.66667

### Selection by comparison

In [22]:
c(4, 5, 6) > 5

[1] FALSE FALSE  TRUE

In [23]:
# Which days did you make money on poker?
selection_vector <- poker_vector > 0
  
# Print out selection_vector
selection_vector

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE      TRUE     FALSE      TRUE

In [25]:

# Which days did you make money on poker?
selection_vector <- poker_vector > 0

# How much you won on those days
poker_winning_days <- poker_vector[selection_vector]
poker_winning_days

   Monday Wednesday    Friday
      140        20       240

# Matrices

## Constructing a matrix

In [26]:
# Construct a matrix with 3 rows that contain the numbers 1 up to 9
matrix(1:9, byrow = TRUE, nrow = 3)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [43]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)

# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office, byrow = TRUE, nrow = 3)
star_wars_matrix

     [,1]    [,2]
[1,] 460.998 314.4
[2,] 290.475 247.9
[3,] 309.306 165.8

## Naming a matrix

``rownames(my_matrix) <- row_names_vector
colnames(my_matrix) <- col_names_vector
``

In [44]:
# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

# Name the columns with region
colnames(star_wars_matrix) <- region

# Name the rows with titles
rownames(star_wars_matrix) <- titles

# Print out star_wars_matrix
star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

`rowSums()`: calculates the totals for each row of a matrix.

In [45]:
# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)
worldwide_vector

             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106

## Adding a column and row

`cbind()`:  merges matrices and/or vectors together by column.

In [46]:
# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix, worldwide_vector)
all_wars_matrix

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106

`rbind()`:  merges matrices and/or vectors together by row.

In [47]:
# Construct star_wars_matrix
box_office_2 <- c(474.5, 552.5, 310.7, 338.7, 380.3, 468.5)
region <- c("US", "non-US")
titles <- c("The Phantom Menace", 
                 "Attack of the Clones", 
                 "Revenge of the Sith")
               
star_wars_matrix2 <- matrix(box_office_2, 
                      nrow = 3, byrow = TRUE,
                      dimnames = list(titles, region))

In [48]:
all_wars_matrix <- rbind(star_wars_matrix, star_wars_matrix2)
all_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

`colSums()`: calculates the totals for each column of a matrix.

In [49]:
# Total revenue for US and non-US
total_revenue_vector <- colSums(all_wars_matrix)
total_revenue_vector

      US   non-US
2226.279 2087.800

## Selection of matrix elements

`my_matrix[1,2]` selects the element at the first row and second column.   
`my_matrix[1:3,2:4]` results in a matrix with the data on the rows 1, 2, 3 and columns 2, 3, 4.   

If you want to select all elements of a row or a column, no number is needed before or after the comma, respectively:    

`my_matrix[,1]` selects all elements of the first column.   
`my_matrix[1,]` selects all elements of the first row.

In [50]:
# Select the non-US revenue for all movies
non_us_all <- star_wars_matrix[,2]
  
# Average non-US revenue
mean(non_us_all)
  
# Select the non-US revenue for first two movies
non_us_some <- star_wars_matrix[1:2,2]
  
# Average non-US revenue for first two movies
mean(non_us_some)

[1] 242.7

[1] 281.15

## A little arithmetic with matrices


`2 * my_matrix` multiplies each element of my_matrix by two.

In [52]:
# all_wars_matrix is available in your workspace
all_wars_matrix

# Estimate the visitors
visitors <- all_wars_matrix / 5

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

`my_matrix1 * my_matrix2` creates a matrix where each element is the product of the corresponding elements in `my_matrix1` and `my_matrix2`

In [ ]:
# Estimated number of visitors
visitors <- all_wars_matrix / ticket_prices_matrix

# US visitors
us_visitors <- visitors[,1]

# Average number of US visitors
mean(us_visitors)

# Factors